{% extends 'base.html.twig' %}

{% block title %}Proposez votre machine à laver en location{% endblock %}

{% block body %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Gagnez de l'argent facilement !</h1>
            <p class="lead">Inscrivez-vous maintenant en 3 clics et commencer à gagner de l'argent !</p>
        </div>
    </div>
{% endblock %}