{% extends 'base.html.twig' %}

{% block title %}Trouver une machine à laver dans votre quartier{% endblock %}

{% block body %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Plus besoin d'aller en laverie</h1>
            <p class="lead">Renseignez votre adresse et trouvez les voisins disponibles autour de chez vous !</p>
        </div>
    </div>
{% endblock %}