{% extends 'base.html.twig' %}

{% block body %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Wash<small>(ar)</small>ing, le partage gagnant-gagnant!</h1>
            <hr>

            <p>Tu es étudiant ou tu viens d'emménager et tu n'as pas de machine à laver chez toi ?<br>
                T'en a marre d'aller à la laverie ?<br>
                Trouve un voisin et lave ton linge chez toi grâce à <b>Wash<small>(ar)</small>ing</b></p>

            <hr>

            <p>Tu as une machine à laver mais tu ne l'utilise quasiment pas ? <br>
                Tu te dis que c'est dommage d'avoir investi autant d'argent dans un appareil que tu utilise peu ?<br>
                Tu souhaites gagner un petit complément de revenu facilement ?<br>
                Loue ta machine à tes voisins avec <b>Wash<small>(ar)</small>ing</b></p>
        </div>
    </div>
    <small>Psst, pour code source, c'est <a href="{{ github_link }}">par ici </a>.</small>
{% endblock %}