{% extends 'base.html.twig' %}

{% block body %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Washare, le partage gagnant-gagnant!</h1>
            <hr>

            <p>Tu es étudiant, tu viens d'emménager, tu n'as pas de machine à laver chez toi ?<br>
                T'en as marre d'aller à la laverie et de payer une blinde ?<br>
                Trouve un voisin et lave ton linge chez toi grâce à <b>Washare</b></p>

            <hr>

            <p>Tu as une machine à laver mais tu ne l'utilise quasiment pas ? <br>
                Tu te dis que c'est dommage d'avoir investi autant d'argent dans un appareil que tu utilise peu ?<br>
                Tu souhaites gagner un petit complément de revenu facilement ?<br>
                Deviens <b>Washer</b> et loue ta machine à tes voisins ! </p>
        </div>
    </div>
    <small>Psst, pour code source c'est <a href="{{ github }}">par ici </a> ou vous pouvez me contacter par <a href="mailto:{{ admin.email }}">email</a>.</small>
{% endblock %}