{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Connectez-vous</h1>
            <p class="lead">Vous avez déjà un compte ? Connectez-vous en 2 clics!</p>
        </div>
    </div>
{% endblock %}