{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Inscrivez-vous</h1>
            <p class="lead">Vous n'avez pas encore de compte ? Inscrivez-vous maintenant !</p>
        </div>
    </div>
{% endblock %}